.card {
  border: none;

  & .create-acc, & .signin-options, & .form-check label {
    font-weight: 500;
  }
  
  & .create-acc a {
    text-decoration: none;
  }

  & .form-control {
    height: 49px;
    width: 100%;
    border: 4px solid #3e3e3e;
    border-radius: 0;
  }
  & input.form-control::placeholder {
    color: #3e3e3e;
    font-weight: 500;
  }
  .form-check {
    align-items: center;

  &-input {
    width: 33px;
    height: 33px;
    border-radius: 0;
    background: transparent;
    border: 4px solid #3e3e3e;

    &:checked {
      background-color: transparent;
      border-color: #3e3e3e;
  
      &[type=checkbox] {
        background-image: url('../../assets/images/checkbox.png');
        background-repeat: no-repeat;
        background-position: center;
  
      }
    }

  }
  }

  & .btn-primary {
    width: 100%;
    height: 49px;
    background: #3e3e3e;
    border-radius: 0;
    font-size: 18px;

    &:hover {
      color: #fff;
      background-color: #3e3e3e;
      border-color: #3e3e3e;

    }
  }
  .divider:after, .divider:before {
    display: inline-block;
    content: "";
    border-top: #ccc;
    width: 4rem;
    margin: 0 0.8rem;
    transform: translateY(-0.3rem);
    flex: 1;
    height: 2px;
    background: #ccc;
  }
}

.right-container {
  display: flex;
  justify-content: flex-end;
  margin-top: -8rem;
  & img {
    width: 278px;
    height: 413px;
  }
  @media (max-width: 390px) {
    display: none;
  }
}

